on: [push]

jobs:
  build_and_static_analysis:
    runs-on: ubuntu-latest
    container:
      image: derekmaeshiro/arm-none-eabi-gcc-lebron:latest
    steps:
      - name: Debug users and contents
        run: |
          echo "USER=$(whoami)"
          id
          ls -l /home
          ls -al /home/ubuntu
          ls -l /home/ubuntu/dev/tools/arm-none-eabi-gcc || echo "not found"
          find / -name arm-none-eabi-gcc || echo "binary not found"
        #/dev/tools/arm-none-eabi-gcc/arm-gnu-toolchain-14.3.rel1-aarch64-arm-none-eabi/bin

      - name: Add ARM toolchain to PATH
        run: |
          if [ "$(uname -m)" = "x86_64" ]; then
            echo "/home/ubuntu/dev/tools/arm-none-eabi-gcc/arm-gnu-toolchain-14.3.rel1-x86_64-arm-none-eabi/bin" >> $GITHUB_PATH
          else
            echo "/home/ubuntu/dev/tools/arm-none-eabi-gcc/arm-gnu-toolchain-14.3.rel1-aarch64-arm-none-eabi/bin" >> $GITHUB_PATH
          fi
      - name: Verify compiler
        run: arm-none-eabi-gcc --version

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Clean build
        run: |
          TOOLS_ARM_DIR_PATH=/home/ubuntu/dev/tools/arm-none-eabi-gcc/arm-gnu-toolchain-14.3.rel1-aarch64-arm-none-eabi \
          TOOLS_OPEN_OCD_DIR_PATH=/usr/share/openocd/scripts make clean

      - name: Build
        run: |
          TOOLS_ARM_DIR_PATH=/home/ubuntu/dev/tools/arm-none-eabi-gcc/arm-gnu-toolchain-14.3.rel1-aarch64-arm-none-eabi \
          TOOLS_OPEN_OCD_DIR_PATH=/usr/share/openocd/scripts make
